mkdocs-material==9.5.18
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-section-index==0.3.8
mkdocs-rss-plugin==1.10.0
mkdocs-glightbox==0.3.7
mkdocs-minify-plugin==0.7.2
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-video==1.5.0
beautifulsoup4
python-frontmatter
bettertags
mkdocs-roamlinks-plugin-extra
