mkdocs-material==9.5.18
mkdocs-awesome-pages-plugin==2.9.2
mkdocs-section-index==0.3.8
mkdocs-rss-plugin==1.10.0
mkdocs-glightbox==0.3.7
mkdocs-minify-plugin==0.7.2
bettertags
mkdocs-git-revision-date-localized
mkdocs-glightbox
mkdocs-minify-plugin
mkdocs-macros-plugin
mkdocs-video
mkdocs-git-committers-plugin
