<div id="google_translate_element" style="display: inline-block; margin-left: 0.5rem;"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {pageLanguage: 'es', includedLanguages: 'es,en,fr,de,it,pt,ru,zh-CN,ja', layout: google.translate.TranslateElement.InlineLayout.SIMPLE},
      'google_translate_element'
    );
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
