/* docs/assets/stylesheets/tienda.css */
.producto-tarjeta {
    border: 1px solid var(--md-default-fg-color--lighter);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    background: var(--md-default-bg-color);
}
.producto-imagen {
    max-width: 88px;
    max-height: 88px;
    object-fit: cover;     /* La imagen se recorta para llenar el espacio sin deformarse */
    border-radius: 8px;
}
.producto-info {
    flex: 1;
}
.producto-titulo {
    margin-top: 0;
    color: var(--md-primary-fg-color);
}
.producto-precio {
    font-weight: bold;
    color: var(--md-accent-fg-color);
    font-size: 1.2rem;
}
.producto-boton {
    display: inline-block;
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 821;
}
.producto-boton:hover {
    background-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
}
